:root {
  color: var(--text-color);
  background-color: var(--bg-color);

  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
}

html.light {
  --bg-color: #f6f6f7;
  --text-color: #213547;
}

body {
  margin: 0;
  overflow-wrap: break-word;
  height: 100%;
}

#app {
  height: 100%;
}

button {
  margin: 0.6em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button.button-small {
  padding: 0.4em 0.8em;
  font-size: 0.8em;
}
button:hover:not(:disabled) {
  cursor: pointer;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}
